
.about-view {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  & > article {

    box-sizing : border-box;
    padding    : 16px;
    margin     : 16px auto;
    background-color : #EFF0F0FF;
    border-radius    : 6px;
    max-width: 800px;
    text-align: left;

    & > h2 {
      text-align: left;
    }

    & > h3 {
      text-align: left;
    }

    & > p {
      text-align: left;
    }

    & > ul {
      text-align: left;

      & > li {
        text-align: left;
      }

    }

  }

}
