@import "src/constants/variables";

.login-form {

  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .login-form-container {

    box-sizing: border-box;
    padding: 0 2rem 2rem 2rem;
    width: 100vw;
    max-width: 30em;

    & > .hg-form {

      & > .hg-field {

      }

      & > .hg-button {
        width: 100%;
      }

    }

  }

}
