.user-list-view {

  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  & > .user-list-view-header {

    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 1em 1em 1em;
    text-align: center;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    & > .user-list-view-header-title {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      flex-grow: 1;
    }

    & > .user-list-view-header-controls {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      flex-shrink: 0;
    }

  }

  & > .user-list-view-table {

    flex-grow: 1;

    & > .hg-table-header {

      & > .hg-table-header-row {

        & > .hg-table-header-column {

          & > .hg-table-header-column-content {
            padding: 0.5em 0.75em 0.5em 0.75em;
          }

        }

      }

    }

    & > .hg-table-body {

      & > .hg-table-row {

        & > .hg-table-column {

          &.user-list-view-no-results {
            padding: 2em;
            text-align: center;
          }

          &.user-list-view-column-controls {

            width: 10%;

            & > .hg-table-column-content {
              & > .hg-button {
                margin: 0.25em 0.75em;
              }
            }

          }

        }

      }

    }

  }

}
