@import "src/layouts/default/default-variables";

.default-main-layout {

  width            : 100%;
  max-width        : 100vw;
  height           : 100vh;
  padding          : 0;
  margin           : 0;
  box-sizing       : border-box;
  color            : $default-main-layout-text-color;
  background-color : $default-main-layout-background-color;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  align-content: center;
  justify-content: stretch;
  flex-wrap: nowrap;

  & > .default-main-layout-header {
    flex-shrink: 1;
    background-color: #ffffff;
    border-bottom: 3px solid #e0e0e0;
  }

  & > .default-main-layout-content {

    flex-grow: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > .default-main-layout-content-modals {
      background-color: #e8e8e8;
      border-left: 1px solid #d1d1d1;
    }

  }

}
