@import "src/constants/variables";

.app-menu-button {

  box-sizing: border-box;

  & > .login-link {
    & > svg {
      height: 2.225rem; // Original 45.5px
      padding: 0;
    }
  }

  & > button.menu-toggle {
    max-width: 350px;
    min-width: 135px;
  }

}
