@import "src/constants/variables";

.app-menu-dropdown {

  box-sizing: border-box;
  padding: 0;
  margin: 0;

  & > .app-menu-dropdown-button {

  }

  & > .app-menu-dropdown-items {
    margin-top: 0.5em;
    width: auto;
    position: absolute;
    z-index: $z-index-app-menu-dropdown-items;
  }

}
