@import "src/layouts/dark/dark-variables";

.dark-main-layout {

  width            : 100%;
  max-width        : 100vw;
  height           : 100vh;
  padding          : 0;
  margin           : 0;
  box-sizing       : border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  align-content: center;
  justify-content: stretch;
  flex-wrap: nowrap;

  & > .dark-main-layout-header {
    flex-shrink: 1;
    color: $dark-main-layout-header-color;
    background-color: $dark-main-layout-header-background-color;
    border-bottom: $dark-main-layout-header-bottom-border;
  }

  & > .dark-main-layout-content {

    flex-grow: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    & > .dark-main-layout-content-modals {
      background-color: $dark-main-content-modals-background;
      border-left: $dark-main-content-modals-border-left;
    }

  }

}
