@import "src/layouts/dark/dark-variables";

.dark-profile-layout {

  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;

  & > .dark-workspace-layout-content-nav {
    box-sizing: border-box;
    padding: 1em 2em;
    margin: 0;
    flex-shrink: 1;
  }

  & > .dark-workspace-layout-content-view {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-grow: 1;

    nav {

      padding: 0;
      margin: 0;
      box-sizing: border-box;

      display: flex;
      flex-direction: row;

      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;

      flex-wrap: wrap;

      & > a {

        width: 12.8rem;
        height: 3.2rem;
        box-sizing: border-box;
        padding: $dark-content-nav-item-padding;
        margin: $dark-content-nav-item-margin;
        text-align: center;

        &.active {

        }

      }

    }

    .alternative-section {

      box-sizing: border-box;
      padding: 0 0 0.95rem 0;
      margin: 0;

      & > .article-row {

        & > article {
          padding: 6.15rem 0 0 0;
        }

      }

    }

    .lighter-alternative-section {

      box-sizing: border-box;
      padding: 2.75rem 0 2.7rem 3.85rem;
      margin: 0;

    }

    .bordered-alternative-section {

    }

  }

}
