@import "src/layouts/dark/dark-variables";

.dark-login-layout {

  padding        : 0;
  margin         : 0;
  box-sizing     : border-box;

  h2 {
    text-align: center;
  }

  & > .dark-login-layout-footer {
    background-color: $dark-footer-background-color;

  }

}
