//@import "src/fi/palvelinkauppa/frontend/styles/palvelinkauppa-variables";
@import "src/constants/variables";

.list-menu {

  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  max-height: 40px;

  & > .list-menu-content {

    border-radius: $ux-border-radius;
    display: inline-block;
    margin: 0; //top right
    box-sizing: border-box;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;


    & > .list-menu-content-list-nav {

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: $ux-black;
      height: 40px;


      & > a {
        font-family: $ux-font-family;
        font-size: $main-link-font-size;
        color: $ux-black;
        width: auto;
        text-decoration: none;
        margin: 0;
      }

      & > button.list-nav-link {
        cursor: pointer;
        background: $ux-light-grey;
        border: 1px solid black;
        color: $ux-black;
      }

      & > .list-nav-link {
        padding: 0 0 0em 0.5em;
        display: flex;
        align-items: center;
        height: 40px;


        & > .no-style:hover, button.no-style:hover {
          color: $ux-primary-button;
          cursor: pointer;
        }

        .arrow {
          padding-left: 0.5em;
        }

        .active {
          padding: 0 0.5em 0 0em;
          text-align: center;
          color: $ux-primary-button;
        }

      }

      .active {
        padding: 0 0.5em 0 0em;
        text-align: center;
        color: $ux-primary-button;
      }

      .active-background-cover {
        padding: 0 0.5em 0 0em;
        text-align: center;
        color: $ux-primary-button-alternative;

        & > button.b {
          color: $ux-primary-button-alternative;
          background-color: $ux-primary-button;
          border:0px solid $ux-primary-button;
          height: 40px;
          border-radius: 7px;
        }
      }

      .not-background-cover {
        text-align: center;
        color: black;

        & > button.b {
          border: none;
          background-color: transparent;
        }
        & > button.none {
          border: none;
          background-color: transparent;
        }
      }

      & > .profile-nav-link,
      & > .profile-nav-link:visited,
      & > .profile-nav-link:active,
      & > .profile-nav-link:hover {


      }

      & > .list-nav-link:hover, a.list-nav-link:hover {
        color: $ux-primary-button;
      }

      & > .list-nav-link:hover {
        color: $ux-primary-button;
      }

      &.mobile-only {
      }

    }

  }

}

@media only screen and (max-width: 768px) {

  .profile-menu {
    & > .profile-menu-content {

      padding: 0;
      margin: 0;
      box-sizing: border-box;
      max-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $ux-color-white;

      & > .profile-nav {

        hr {
          display: none;
        }

        .profile-nav-link {
          padding: 0.5em 0;
          text-align: center;
        }

        button.profile-nav-link {
          width: 100%;
          margin: 0.5em 0 0 0;
        }

      }
    }
  }

}

